p {
   
}

h1 {
    font-size: 15px;
    font-family:Calibri,sans-serif;
    color:#17365d;
    background-color:transparent;
}

h2 {
    font-size: 8px;
    font-family:Calibri,sans-serif;
    color:#4f81bd;
    background-color:transparent;
}

h3 {
    font-size: 20px;
    font-family:Calibri,sans-serif;
    color:black;
    background-color:transparent;
}

/* div {
    padding: 70;
} */
