body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

/* This is the body of website  */
.body {
    margin: 12px;
}

/* Hero Image Styling */
.hero-text-div {
    height: 80%;
    overflow: hidden;
}

.hero-text {
    height: 100%;
    overflow: scroll;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    font-size: large; 
}


/* Buffer space for home page */
.buffer-space {
    margin: 80px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .register {
  background-color: #9554C3;
  border-radius: 8px;
  color: #f8f8f8;
  padding: 6px;
  width: 100%;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .register:hover {
  background-color: #6A0DAD;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:#00d1ef;
    border:none;
    padding:0;
    font: inherit;
    outline:0; 
    cursor: pointer;
}

/* input fields on the login and register page */
.login-register[type=text], .login-register[type=password], .login-register[type=email] {
    width: 100%;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid grey;
}

/* 
    Uses flexbox for 
    reponsive web flow
    Item's Display
*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

center {
   padding: 20px; 
}

.img-thumbnail {
    border: none !important;
    background-color: rgba(0,0,0,0.0);;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    font-size: large;     overflow: auto;
}
.centerText{
    text-align: center;
}
.aTag{
        color: #00d1ef !important;
}
.purpText{
      color: #6A0DAD;

}
.tealText{
    color:#00d1ef;
}
