/* control the card css */
.card {
    margin: 12px;
}

.card-btn {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    padding: 7px 10px;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.card-header{
    text-align: center;
}

.card-div {
    margin: 0 auto;
}

/* control the button css */
button {
    background-color: #9554C3; /* Green */
    color: white;
    padding: 6px;
    font-size: 16px;
}

/* Used for the progress bar color */
.progress-bar {
    background-color: #00d1ef !important;
}