/* Centers text in the middle of the page */
.phases-page {
    text-align: center;
}

.lock-icon {
    color: grey;
    display: inline;
    margin-left: 12px;
}


ul {
    background-color: tomato !important;
    list-style: none;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: blue;
}

.phase-header {
    background-color: #9554C3 !important;
    color: white !important;
}

