/* Centers text in the middle of the page */
.phases-page {
    text-align: center;
}
/* Dropdown Styling */
.dropdown {
    width: 100%; 
}

#dropdown-basic {
    background-color: #9554C3;
}

.btn-primary{
    border-color: #9554C3 !important;
}

.dropdown .btn {
    border-radius: 0;
}

.lock-icon {
    color: grey;
    display: inline;
    margin-left: 12px;
}

.dropdown-menu {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 0 !important;
}
/* Select the text color for the steps */
.steps-text {
    display: inline-block;
    color: blue;
}