/* Centers text in the middle of the page */
.phases-page {
    text-align: center;
}

.lock-icon {
    color: grey;
    display: inline;
    margin-left: 12px;
}


ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;                
    margin-bottom: 0 !important;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: blue;
}

.phase-header {
    background-color: #9554C3 !important;
    color: white !important;
}

.phase-cards {
    padding: 0 !important;
}

